



<div class="cabec">
  <po-widget> 
    <div class="colA">
      <po-input  name="codEstabel" p-label="Estab" ></po-input>
      <po-input  name="codEstabel" p-label="Filial" ></po-input>
      <po-input  name="codEstabel" p-label="Reparo" ></po-input>
      <po-button p-label="botao 01"></po-button>
    </div>
  </po-widget>

  <po-widget> 
    <div class="colB">
      <po-button p-label="botao 01"></po-button>
      <po-button p-label="botao 01"></po-button>
    </div>
  </po-widget>

</div>

 
<span>Voce se encontra no limbo</span>


<po-button p-label="Salvar"   p-kind="primary" style="margin-right: 5px;"></po-button>
<po-button p-label="Cancelar" p-kind="secondary"></po-button>

<po-table [p-items]="lista" #grid
          p-container="true"
          [p-columns]="colunas" 
          [p-hide-table-search]="true" 
          [p-hide-columns-manager]="true" >
          <!-- <ng-template p-table-column-template p-property='campo' let-value>
            <span>{{value | number: '2.2-2'}}</span>
          </ng-template> -->
          </po-table>

<div class="po-md-4">
  <div style="display: flex;flex-direction: column;">
      <div><label class="po-font-text-large-bold">Peso Liq</label></div>
      <div><input [leadZero]="true" thousandSeparator="." mask="separator.3" decimalMarker="," class="po-input" formControlName="peso-liq" p-label="Peso Liq" /></div>
  </div>
</div>
<div class="po-md-4">
  <div style="display: flex;flex-direction: column;">
      <div><label class="po-font-text-large-bold">Peso Bruto</label></div>
      <div><input [leadZero]="true" thousandSeparator="." mask="separator.3" decimalMarker="," class="po-input" formControlName="peso-bru" /></div>
  </div>
</div>





<div *ngIf="mostrarLabel===true" 
      class="seletor" 
      style="display:flex; justify-content: center;align-items: center;height: 100%;">
<div><h1 style="color: lightgray;">ALTERNANDO USUARIO, AGUARDE...</h1></div>
</div>

