<div class="sample-container">
    <po-loading-overlay *ngIf="loadTela===true" [p-text]="labelLoadTela" [p-screen-lock]="true"></po-loading-overlay>
</div>
<po-stepper #stepper>

    <!-- Selecao Estabelecimento e Tecnico -->
    <po-step p-label="Técnico" [p-can-active-next-step]="canActiveNextStep.bind(this)">
        <po-widget [p-height]=450 [p-primary-label]="lblStepProximo" (p-primary-action)="stepper.next()">
            <app-calculo-estab-usuario />
        </po-widget>
    </po-step>

    <!-- Selecao Dados do Estabelecimento -->
    <po-step p-label="Dados NF" [p-can-active-next-step]="canActiveNextStep.bind(this)">
        <po-widget class="po-md-12" [p-height]=450 
                                    [p-primary-label]="lblStepAnterior"
                                    [p-secondary-label]="lblStepProximo" 
                                    (p-primary-action)="stepper.previous()"
                                    (p-secondary-action)="stepper.next()">
            <app-calculo-parametros/>
        </po-widget>
    </po-step>

    <!-- Selecao Extrakit -->
    <po-step p-label="ExtraKit" [p-can-active-next-step]="canActiveNextStep.bind(this)">
        <po-widget class="po-md-12" [p-height]=450 
                                    [p-primary-label]="lblStepAnterior"
                                    [p-secondary-label]="lblStepProximo" 
                                    (p-primary-action)="stepper.previous()"
                                    (p-secondary-action)="stepper.next()">
            <app-calculo-extrakit />
        </po-widget>
    </po-step>

    <!-- Resumo -->
    <po-step p-label="Resumo">
        <po-widget class="po-md-12" [p-height]=450 
                                    [p-primary-label]="lblStepAnterior"
                                    (p-primary-action)="stepper.previous()">
            <app-calculo-resumo />
        </po-widget>
    </po-step>

</po-stepper>